.App {
  width: 100vw;
  height: 100vh;
}

.semi-slider-handle
{
  width: 12px !important;
  height: 12px !important;
  margin-top: 10px !important;
}

.overlay {
  background: white;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.single-image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.single-image-container * {
  pointer-events: all;
}

.single-image {
  /* border-radius: 20px; */
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.semi-collapse-item
{
  border-bottom: none !important;
}

.semi-tabs
{
  @apply w-full;
}

.semi-tabs-tab
{
  @apply w-1/3;
  margin: 0!important;
  text-align: center;
}