.App {
  width: 100vw;
  height: 100vh;
}

.semi-slider-handle
{
  width: 12px !important;
  height: 12px !important;
  margin-top: 10px !important;
}

.overlay {
  background: white;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.single-image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.single-image-container * {
  pointer-events: all;
}

.single-image {
  /* border-radius: 20px; */
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
}