@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --black-primary: #000000;
    --white-primary: #FFFFFF;

    /* custom theme */

    /* custom radius */
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;
    --radius-circle: 50%;

    /* custom font size */
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 18px;
    --font-size-xxlarge: 20px;
    --font-size-xxxlarge: 24px;

    /* custom font weight */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* custom font family */
    --font-family-sans-serif: 'Open Sans', sans-serif;
    --font-family-serif: 'Open Sans', sans-serif;
    --font-family-monospace: 'Open Sans', sans-serif;

    /* custom font line height */
    --font-line-height-small: 1.5;
    --font-line-height-medium: 1.75;
    --font-line-height-large: 2;
    --font-line-height-xlarge: 2.25;
    --font-line-height-xxlarge: 2.5;

    /* custom font spacing */
    --font-spacing-small: 0.25rem;
    --font-spacing-medium: 0.5rem;
    --font-spacing-large: 1rem;
    --font-spacing-xlarge: 1.5rem;
    --font-spacing-xxlarge: 2rem;

    /* custom padding */
    --padding-small: 0.5rem; /* 8px */
    --padding-medium: 1rem; /* 16px */
    --padding-large: 1.5rem; /* 24px */

}
