@import url(https://fonts.googleapis.com/css?family=Roboto&effect=anaglyph|emboss|fire|fire-animation|neon|outline|shadow-multiple|3d|3d-float);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-primary: #000000;
  --white-primary: #ffffff;

  /* custom theme */

  /* custom radius */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-circle: 50%;

  /* custom font size */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 18px;
  --font-size-xxlarge: 20px;
  --font-size-xxxlarge: 24px;

  /* custom font weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* custom font family */
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-serif: "Open Sans", sans-serif;
  --font-family-monospace: "Open Sans", sans-serif;

  /* custom font line height */
  --font-line-height-small: 1.5;
  --font-line-height-medium: 1.75;
  --font-line-height-large: 2;
  --font-line-height-xlarge: 2.25;
  --font-line-height-xxlarge: 2.5;

  /* custom font spacing */
  --font-spacing-small: 0.25rem;
  --font-spacing-medium: 0.5rem;
  --font-spacing-large: 1rem;
  --font-spacing-xlarge: 1.5rem;
  --font-spacing-xxlarge: 2rem;

  /* custom padding */
  --padding-small: 0.5rem; /* 8px */
  --padding-medium: 1rem; /* 16px */
  --padding-large: 1.5rem; /* 24px */

  --speed: 250ms;
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 120px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.animated-avatar:hover .cutout-container{
  top: 0px;
  right: 0px;
}

.cutout-container
{
  transition: all 0.2s ease-out 0s;
  right: -50px;
  top: -50px;
}

.cutout {
  box-shadow: rgb(255 102 102) 16px 16px 0px, rgb(255 102 102) 16px 32px 0px,
    rgb(255 102 102) 32px 32px 0px, rgb(255 102 102) 16px 48px 0px,
    rgb(255 102 102) 32px 48px 0px, rgb(255 102 102) 48px 48px 0px;
  transform: translate3d(-48px, 48px, 0px);
  transition: transform 0.2s ease-out 0s;
}

.reactEasyCrop_CropArea:before, .reactEasyCrop_CropArea:after
{
  opacity: 0;
  transition: opacity 0.2s ease-out 0s;
}

.reactEasyCrop_CropArea:hover:before,.reactEasyCrop_CropArea:hover:after
{
  opacity: 1;
}