.editor {
  box-sizing: border-box;
  /* border: 1px solid #ddd; */
  cursor: text;
  padding: 8px 8px;
  border-radius: 4px;
  /* margin-bottom: 2em; */
  /* box-shadow: inset 0px 1px 8px -3px #ababab; */
  background: #f3f4f6;
}

.editor :global(.public-DraftEditor-content) {
  max-height: 200px;
  overflow-y: auto;
  font-size: 14px;
}

#placeholder-editor {
  position: absolute;
  color: gray;
  user-select: none;
}

.headlineButtonWrapper 
{
  z-index: 100;
}

.upload-image::before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background: rgba(22,22,26,0.6);
}

.upload-image:hover::before
{
  visibility: visible;
}

@keyframes bottomBounce {
  0% {
    transform: translateY(33px);
  }
  100% {
    transform: translateY(0px);
  }
}