.video-background {
  --video-background-src: url(https://raw.githubusercontent.com/yuikoito/tensorflow-bodypix-sample/master/assets/argentina.jpg);
  background-image: var(--video-background-src);
  background-size: cover;
}

.fullscreen {
  width: 100%;
  /* flex: auto; */
  /* min-width: 0; */
  /* gap: 8px; */
  /* padding: 8px; */
  /* height: calc(100vh - 80px); */
  /* background-color: black; */
}
